    /* Banner */
        .banner {
        background-image: url('https://via.placeholder.com/1200x400');
        background-size: cover;
        background-position: center;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 48px;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000;
    }
    /* Section Produits */
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .product-card {
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 200px;
        margin: 10px;
        text-align: center;
        transition: transform 0.3s;
    }

    .product-card:hover {
        transform: scale(1.05);
    }

    .product-card img {
        width: 100%;
        border-bottom: 1px solid #ccc;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .product-card h3 {
        margin: 10px 0;
    }

    .product-card p {
        color: #04AA6D;
        font-weight: bold;
    }

    /* Footer */
    footer {
        background-color: #333;
        color: #f2f2f2;
        text-align: center;
        padding: 50px;
        margin-top: 20px;
    }

    @media screen and (max-width: 600px) {
        .products {
            flex-direction: column;
            align-items: center;
        }
    }