   body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
   
   .navbar {
        background-color:#ff0909;
        overflow: hidden;
        padding: 10px;
        border-radius: 10px;
    }

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        padding: 14px 20px;
        text-decoration: none;
    }

    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }